* {
    font-family: sans-serif;
    font-style: normal;
    line-height: normal;
}

body {
    background: #EFEFEF;
}

.navbar-nav {
    display: flex;
    list-style-type: none;
    width: 1950px; 
    margin-left: -8px;
    margin-top: -8px;
    margin-bottom: 10px;
    padding: 20px 0px 22px 0px;
    justify-content: space-evenly;
    align-items: center;
    background: #D0604C;
    gap: 85px;
}

.nav-link {
    text-decoration: none;
    color: #FFF;
    font-size: 20px;
    font-weight: 400;
}

.navbar-brand {
    width: 364px; 
    height: 43.262px;
    flex-shrink: 0;
    margin-left: -85px;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 500px;
    width: 981px;
    height: 640px;
    border: 2px solid black;
}


.formContainer {
   
    margin-left: 25%;
    margin-bottom: 40px;
    
    gap: 15px;
    flex-shrink: 0;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 3px 4px 6px rgba(208, 96, 76, 0.37);
    margin-top: 180px;
}

input {
    display: flex;
    flex-direction: column;
    color: rgba(0, 0, 0, 0.815);
    font-size: 24px;
    width: 710px;
    height: 67px;
    padding: 3px 33px;
    align-items: center;
    flex-shrink: 0;
    border-radius: 5px;
    border: 3px solid #000;
    background: #FFF;
    margin-bottom: 20px;
}

input[type=value] {
    color: rgba(0, 0, 0, 0.54);
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

input.message {
    width: 668px;
    height: 180px;
    padding: 13px 75px 42px 33px;
    align-items: flex-start;
    gap: 10px;
    flex-shrink: 0;
    margin-bottom: 20px;
}

button.submit {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 335px;
    height: 67px;
    padding: 15px 44px;
    margin-left: 216px;
    gap: 10px;
    flex-shrink: 0;
}
















.footer-nav {
    display: inline-flex;
    /* position: relative; */
    padding: 81px 0px 81.242px 55px;
    width: 1846px;
    height: 135px;
    /* justify-content: flex-start; */
    align-items: center;
    border: 1px solid #140806;
    background: #140806;
    gap: 45px;
    margin-bottom: 0;
    margin-left: -8px;
}

.footer-link{
    text-decoration: none;
    color: #FFF;
    width: 177px;
    font-size: 20px;
    font-weight: 400;
    line-height: normal;
   
}


.socials {
    display: flex;
    width: 60px;
    height: 60px;
    gap: 47px;
}

.copyright {
    color: white;
    position: relative;
    background-color: #140806;
    /* height: 20px; */
    
    margin-left: -8px;
    padding-left: 65px;
    margin-top: -50px;
}