* {
    font-family: sans-serif;
    font-style: normal;
    line-height: normal;
}


body {
    background-color: #EFEFEF;
}

.m-0 {
    margin: 0;
}

.m-2 {
    margin: 2px;
}

.m-8 {
    margin: 8px;
}
.m-16 {
    margin: 16px;
}

.navbar-brand img {
    width: 300px;
}

table {
    /* display: flex; */
    justify-content: center;
    text-align: center;
    
}

th {
    width: 20vw;
}

label {
    margin-top: 10px;

}

.mb-3 {
    width: 50vw;
}

.btn-primary {
    height: 38px;
    background-color: #d0604c;
    border-color: #d0604c;
}